{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2 class="page-heading">Active Listings</h2>

     <div class="active-listings mt-4">
         {% for listing in listings %}
         <div class="flex-container">
            <div class="list-item">
                <div class="items">
                  <p><a class='edit-btn' href="{% url 'listing' listing.id %}"><span class="field">{{listing.title}}</span></a><p>
                  <p><span class="field">Category:</span> {{listing.category}}<p>
                  <p><span class="field">Start Price:</span> ${{listing.start_price}}<p>
                  <p><span class="field">Num. Bids:</span> {{listing.num_bids}}</p>
                  <p><span class="field">Comments:</span> {{listing.num_comments}}<p>
                  <p><span class="date">Created {{listing.datetime|date:"M, d, Y, H:i"}} 
                      by {{listing.owner}}</span></p>
                </div>
            </div>
            <img src="{{listing.image.url}}" alt="{{ listing.title }}">
            <!-- {% if listing.image and debug %}
            <img src="{{listing.image.url}}" alt="{{ listing.title }}">
            {% endif %}
            {% if listing.image and not debug %}
            <img src="/static/{{listing.image}}" alt="{{listing.title}}">
            {% endif %} -->
         </div>
         {% empty %}
            <h3>No listings were created so far</h3>
         {% endfor %}   
     </div>
{% endblock %}