{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

     <div class="active-listings mt-4">
         {% for listing in listings %}
         <div class="flex-container">
            <div class="list-item">
                <div class="items">
                  <p><a class='menu' href="{% url 'listing' listing.id %}"><span class="field">{{listing.title}}</span></a><p>
                  <p><span class="field">Category:</span> {{listing.category}}<p>
                  <p><span class="field">Price:</span> ${{listing.start_price}}<p>
                  <p><span class="date">Created {{listing.datetime|date:"M, d, Y, H:i"}}</span></p>
                </div>
            </div>
            {% if listing.image %}
            <img src="{{listing.image.url}}" alt="{{ listing.title }}">
            {% endif %}
         </div>
         {% empty %}
            <h3>No listings were created so far</h3>
         {% endfor %}   
     </div>
{% endblock %}