{% extends "auctions/layout.html" %}

{% block title %}
    Readme
{% endblock %}

{% block body %}
<div class="readme-wrapper">
  <div class="readme">
    <p>This application is designed as an eBay-like e-commerce auction site which allows signed users to <em>post</em>
      auction listings, <em>place</em> bids on listings, <em>comment</em> on those listings, and <em>add</em> listings to a <strong>watchlist</strong>. Users who created a given listing have the ability to <em>close</em> the auction from this page, which makes the highest bidder (if any) the winner of the auction. This app is implemented with <em>HTML</em>, <em>CSS</em>, <em>JavasScript</em>, <em>Bootstrap</em>, <em>Python</em>, <em>Django</em> and the <em>SQLite</em> database.</p>
  </div>
</div>
{% endblock %}
